.container {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 8px 16px;
  flex-direction: column;
}

.container input[type=file]::file-selector-button, .container button {
  background-color: rgb(26, 72, 255);
  padding: 8px 16px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.container input[type=file]::file-selector-button:hover {
  background-color: rgb(33, 69, 214);
}

.resultContainer ul{
  list-style: none;
}